.slide{
  width: 950px;
  height: 80%;
  position: absolute;
  left: 30%;
  top: 15%;
}
.disply{
    position: absolute;
    width: 500px;
    height: 500px;
    left: 5px;
    top: 50px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 40px white;
}
.ad{
    width: 1000px;
    height: 100%;
    display: flex;
}
.img{
    width: 500px;
}
.btns{
    position: absolute;
    bottom: 15px;
    left: 25%;
}
input[type="radio"] {
    display: none;
  }
  
  input[type="radio"] + label {
    display: inline-block;
    position: relative;
    padding-left: 50px;
    cursor: pointer;
  }
  input[type="radio"] + label::before {
    content: "";
    display: inline-block;
    position: absolute;
    left: 20px;
    top: 2px;
    opacity: 50%;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 5px solid goldenrod;
    background-color: rgb(69, 69, 69);
  }
  input[type="radio"]:checked + label::before {
    background-color: goldenrod;
  }
  input[type="radio"] + label::after {
    content: attr(data-label);
    display: inline-block;
    margin-left: 8px;
  }
  .discription{
    position: absolute;
    right: 5px;
    top: 50px;
    z-index: 1;
    width: 400px;
    height: 500px;
    overflow: hidden;
    border-radius: 10px;
    border: solid 1px goldenrod;
    background-color: rgb(25, 25, 25);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  .titlee{
    text-align: center;
    color: aliceblue;
    position:relative;
    top: 2%;
    font-size: 50px;
  }
  .prisee{
    color:goldenrod;
    position:relative;
    left: 55px;
    top: 10px;
    font-size: 50px;
  }
  .discribee{
    color:aliceblue;
    position:relative;
    text-align: center;
    left: 25px;
    top: 30px;
    width: 350px;
    font-size: 30px;
  }
  .dd{
    width: 100%;
    height: 150px;
    position: absolute;
    top: 200px;
    background-color: black;
  }
  .Az{
    transition: 500ms;
    width: 200px;
    height: 75px;
    position: absolute;
    top: 380px;
    left: 25%;
    background-color: black;
    color: aliceblue;
    border-radius: 10px;
    overflow: hidden;
    border: solid 1px goldenrod;
  }
  .Aa{
    position: absolute;
    left: 25px;
    top: 5px;
    color: aliceblue;
    font-size: 25px;
    text-align: center;
  }

  @media only screen and (max-width:1430px){
    .disply{
      position: absolute;
      width: 400px;
      height: 400px;
      left: 50px;
      top: 50px;
      border-radius: 10px;
      overflow: hidden;
      box-shadow: 0 0 40px white;
    }
    .discription{
      position: absolute;
      right: 10px;
      top: 50px;
      z-index: 1;
      width: 300px;
      height: 400px;
      overflow: hidden;
      border-radius: 10px;
      border: solid 1px goldenrod;
      background-color: rgb(25, 25, 25);
      font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    .slide{
      width: 800px;
      height: 200px;
      position: absolute;
      left: 30%;
      top: 15%;
    }
    .titlee{
      text-align: center;
      color: aliceblue;
      position:relative;
      top: 2%;
      font-size: 35px;
    }
    .prisee{
      color:goldenrod;
      position:relative;
      left: 55px;
      top: 10px;
      font-size: 35px;
    }
    .discribee{
      color:aliceblue;
      position:relative;
      text-align: center;
      left: 0px;
      top: 40px;
      width: 300px;
      font-size: 25px;
    }
    .dd{
      width: 100%;
      height: 150px;
      position: absolute;
      top: 150px;
      background-color: black;
    }
    .Az{
      transition: 500ms;
      width: 200px;
      height: 75px;
      position: absolute;
      top: 310px;
      left: 17%;
      background-color: black;
      color: aliceblue;
      border-radius: 10px;
      overflow: hidden;
      border: solid 1px goldenrod;
    }
    .Aa{
      position: absolute;
      left: 25px;
      top: 5px;
      color: aliceblue;
      font-size: 25px;
      text-align: center;
    }
  }