*{
    padding: 0;
    margin: 0;
}
body{
    background-color: black;
}
.topbar{
    width: 100%;
    height: 100px;
    background-color: rgb(25, 25, 25);
    color: aliceblue;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.GL1{
    width: 100%;
    height: 5px;
    background-color: goldenrod;
}
.T{
    position: absolute;
    top: 20px;
    left: 5%;
    width: 75%;
    
}
.logo{
    width: 75px;
}
.I{
    position: absolute;
    top: 5px;
    left: 80px;
    font-size: 50px;
}
.home{
transition:all 0.5s;
background-color: aliceblue;
width: 190px;
height: 55px;
position: absolute;
text-align: center;
top: 27.5px;
border-radius: 25px;
right: 5px;
font-size:40px;
cursor:pointer;
color: black;
text-decoration: none;
}
.gamei{
    position: absolute;
    top: 10px;
    left: 40%;
    cursor: pointer;
    font-size:40px;
    color: goldenrod;
    text-decoration: none;
}
.market{
    transition:all 0.5s;
    position: absolute;
    top: 10px;
    left: 80%;
    cursor: pointer;
    font-size:40px;
    color: aliceblue;
    text-decoration: none;
}
.news{
    transition:all 0.5s;
    position: absolute;
    top: 10px;
    left: 60%;
    cursor: pointer;
    font-size:40px;
    color: aliceblue;
    text-decoration: none;
}
.d1{
    width: 0.5px;
    height: 50px;
    position: absolute;
    top: 10px;
    left: 75%;
    background-color: aliceblue;
}
.d2{
    width: 0.5px;
    height: 50px;
    position: absolute;
    top: 10px;
    left: 55%;
    background-color: aliceblue;
}
.CS{
    text-align: center;
    cursor: pointer;
    font-size:40px;
    color: aliceblue;
    text-decoration: none;
}