*{
    padding: 0;
    margin: 0;
}
body{
    background-color: black;
}
.topbar{
    width: 100%;
    height: 100px;
    background-color: rgb(25, 25, 25);
    color: aliceblue;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.GL1{
    width: 100%;
    height: 5px;
    background-color: goldenrod;
}
.T{
    position: absolute;
    top: 20px;
    left: 5%;
    width: 75%;
    
}
.logo{
    width: 75px;
}
.I{
    position: absolute;
    top: 5px;
    left: 80px;
    font-size: 50px;
}
.home{
transition:all 0.5s;
background-color: aliceblue;
width: 190px;
height: 55px;
position: absolute;
text-align: center;
top: 27.5px;
border-radius: 25px;
right: 5px;
font-size:40px;
cursor:pointer;
color: black;
text-decoration: none;
}
.marketi{
    position: absolute;
    top: 10px;
    left: 80%;
    cursor: pointer;
    font-size:30px;
    color: goldenrod;
    text-decoration: none;
}
.news{
    transition:all 0.5s;
    position: absolute;
    top: 10px;
    left: 60%;
    cursor: pointer;
    font-size:30px;
    color: aliceblue;
    text-decoration: none;
}
.game{
    transition:all 0.5s;
    position: absolute;
    top: 10px;
    left: 40%;
    cursor: pointer;
    font-size:30px;
    color: aliceblue;
    text-decoration: none;
}
.d1{
    width: 0.5px;
    height: 40px;
    position: absolute;
    top: 10px;
    left: 75%;
    background-color: aliceblue;
}
.d2{
    width: 0.5px;
    height: 40px;
    position: absolute;
    top: 10px;
    left: 55%;
    background-color: aliceblue;
}
.shop{
    position: absolute;
    top: 110px;
    left: 16%;
    background-color: rgb(25, 25, 25);
    border-radius: 10px;
    width: 1250px;
    height: 84%;
    overflow: scroll;
}
.row1{
    width: 100%;
    position: absolute;
    top: 0px;
}
.row2{
    width: 100%;
    position: absolute;
    top: 710px;
}
.item{
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: black;
    border-radius: 10px;
    width: 400px;
    height: 700px;
}
.item1{
    position: absolute;
    top: 10px;
    left: 420px;
    background-color: black;
    border-radius: 10px;
    width: 400px;
    height: 700px;
}
.item2{
    position: absolute;
    top: 10px;
    left: 830px;
    background-color: black;
    border-radius: 10px;
    width: 400px;
    height: 700px;
}
.shop::-webkit-scrollbar{
    background-color: transparent;
}
.shop::-webkit-scrollbar-thumb{
    background-color:rgb(25, 25, 25);
    border-radius: 10px;
}
.disply{
    position: absolute;
    width: 390px;
    height: 390px;
    left: 5px;
    top: 5px;
    border-radius: 10px;
    overflow: hidden;
}
.ad{
    height: 100%;
    display: flex;
}
.ad1{
  height: 100%;
  display: flex;
}
.ad2{
  height: 100%;
  display: flex;
}
.ad3{
  height: 100%;
  display: flex;
}
.ad4{
  height: 100%;
  display: flex;
}
.ad5{
  height: 100%;
  display: flex;
}
.img{
  width: 390px;
}
.btns{
    position: absolute;
    bottom: 15px;
    left: 25%;
}
input[type="radio"] {
    display: none;
  }
  
  input[type="radio"] + label {
    display: inline-block;
    position: relative;
    padding-left: 50px;
    cursor: pointer;
  }
  input[type="radio"] + label::before {
    content: "";
    display: inline-block;
    position: absolute;
    left: 0px;
    opacity: 75%;
    top: 2px;
    width: 16px;
    height: 16px;
    border-radius: 10px;
    border: 5px solid goldenrod;
    background-color: rgb(69, 69, 69);
  }
  input[type="radio"]:checked + label::before {
    background-color: goldenrod;
  }
  input[type="radio"] + label::after {
    content: attr(data-label);
    display: inline-block;
    margin-left: 8px;
  }
  
  input[class="1"] + label {
    display: inline-block;
    position: relative;
    padding-left: 30px;
    cursor: pointer;
  }
  input[class="1"] + label::before {
    content: "";
    display: inline-block;
    position: absolute;
    left: -20px;
    opacity: 75%;
    top: 2px;
    width: 16px;
    height: 16px;
    border-radius: 33.33%;
    border: 5px solid goldenrod;
    background-color: rgb(69, 69, 69);
  }
  input[class="1"]:checked + label::before {
    background-color: goldenrod;
  }
  input[class="1"] + label::after {
    content: attr(data-label);
    display: inline-block;
    margin-left: 8px;
  }
  .discription{
    position: absolute;
    right: 5px;
    top: 400px;
    z-index: 1;
    width: 390px;
    height: 295px;
    overflow: hidden;
    border-radius: 10px;
    background-color: rgb(25, 25, 25);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  .titlee{
    color: aliceblue;
    position:relative;
    left: 75px;
    top: 7.5px;
    font-size: 40px;
    font-weight: bold;
  }
  .titlee1{
    color: aliceblue;
    position:relative;
    left: 25px;
    top: 10px;
    font-size: 30px;
    font-weight: bold;
  }
  .titlee2{
    color: aliceblue;
    position:relative;
    left: 55px;
    top: 10px;
    font-size: 30px;
    font-weight: bold;
  }
  .titlee3{
    color: aliceblue;
    position:relative;
    left: 60px;
    top: 7px;
    font-size: 25px;
    font-weight: bold;
  }
  .titlee4{
    color: aliceblue;
    position:relative;
    left: 30px;
    top: 7px;
    font-size: 25px;
    font-weight: bold;
  }
  .titlee5{
    color: aliceblue;
    position:relative;
    left: 70px;
    top: 7px;
    font-size: 30px;
    font-weight: bold;
  }
  .prisee{
    color:goldenrod;
    position:relative;
    left: 90px;
    top: 7.5px;
    font-size: 40px;
  }
  .prisee1{
    color:goldenrod;
    position:relative;
    left: 90px;
    top: 15px;
    font-size: 40px;
  }
  .prisee2{
    color:goldenrod;
    position:relative;
    left: 90px;
    top: 15px;
    font-size: 40px;
  }
  .prisee3{
    color:goldenrod;
    position:relative;
    left: 120px;
    top: -30px;
    font-size: 35px;
  }
.prisee4{
  color:goldenrod;
  position:relative;
  left: 60px;
  top: 10px;
  font-size: 35px;
}
.prisee5{
  color:goldenrod;
  position:relative;
  left: 120px;
    top: -35px;
  font-size: 35px;
}
  .discribee{
    color:aliceblue;
    position:absolute;
    text-align: center;
    left: 25px;
    top: 5px;
    width: 350px;
    font-size: 20px;
  }
  .discribee1{
    color:aliceblue;
    position:relative;
    text-align: center;
    left: 10px;
    top: 5px;
    width: 370px;
    font-size: 20px;
  }
  .discribee2{
    color:aliceblue;
    position:relative;
    text-align: center;
    left: 10px;
    width: 370px;
    font-size: 17px;
  }
  .discribee3{
    color:aliceblue;
    position:relative;
    text-align: center;
    left: 10px;
    width: 370px;
    font-size: 21px;
  }
  .dd{
    width: 100%;
    height: 100px;
    position: absolute;
    top: 115px;
    background-color: black;
  }
  .dd1{
    width: 100%;
    height: 125px;
    position: absolute;
    top: 90px;
    background-color: black;
  }
  .D{
    position: relative;
    left: 0px;
    border-radius: 10px;
    width: 90px;
    height: 40px;
    text-align: center;
    top: 15px;
    color: black;
    font-size: 18px;
    background-color: goldenrod;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

  }
  .D1{
    position: relative;
    left: 0px;
    border-radius: 10px;
    width: 90px;
    height: 40px;
    text-align: center;
    top: 10px;
    color: black;
    font-size: 18px;
    background-color: goldenrod;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

  }
  .M{
    transition: 500ms;
    width: 200px;
    height: 60px;
    position: absolute;
    top: 225px;
    left: 25%;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
  }
  .Mm{
    position: absolute;
    top: 400px;
    left: 12%;
    top: 5px;
    color:black;
    font-size: 35px;
  }
  .Tz{
    transition: 500ms;
    width: 130px;
    height: 60px;
    position: absolute;
    top: 500px;
    left:2%;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
  }
  .Tt{
    text-align: center;
    position: absolute;
    top: 400px;
    left: 5%;
    top: 2px;
    color: black;
    font-size: 20px;
  }
  .Az{
    transition: 500ms;
    width: 200px;
    height: 60px;
    position: absolute;
    top: 500px;
    left:10%;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
  }
  .Aa{
    text-align: center;
    position: absolute;
    top: 400px;
    left: 25%;
    top: 2px;
    color: black;
    font-size: 25px;
  }
  .C{
    transition: 500ms;
    width: 130px;
    height: 60px;
    position: absolute;
    top: 500px;
    right: 2%;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
  }
  .Cc{
    text-align: center;
    position: absolute;
    top: 400px;
    left: 18%;
    top: 5px;
    color: black;
    font-size: 20px;
  }
  .Bz{
    transition: 500ms;
    width: 90px;
    height: 40px;
    position: absolute;
    top:80%;
    right: -150px;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
  }
  .Bb{
    text-align: center;
    position: absolute;
    top: 400px;
    left: 5%;
    top: 5px;
    color: black;
    font-size: 25px;
  }
  
  @media only screen and (max-width:1550px){
    .shop{
      position: absolute;
      align-items: center;
      top: 110px;
      left: 7.5%;
      background-color: rgb(25, 25, 25);
      border-radius: 10px;
      width: 1250px;
      height: 84%;
      overflow: scroll;
  }
  }

  @media only screen and (max-width:1440px){
    .shop{
      position: absolute;
      align-items: center;
      top: 110px;
      left: 1.75%;
      background-color: rgb(25, 25, 25);
      border-radius: 10px;
      width: 1250px;
      height: 84%;
      overflow: scroll;
  }
  }